{{ if isset .Site.Params "profile" }}
{{ if .Site.Params.profile.enable }}
{{ if gt (len .Site.Data.profile) 0 }}
<section class="bar background-white no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.profile.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.profile.subtitle | markdownify }}
                </p>

                {{ range first 4 (where .Data.Pages "Type" "profile") }}
                  <div class="col-md-3 col-sm-6">
                      <div class="box-image-text profile">
                          <div class="top">
                              <div class="image" style="overflow:hidden">
                                  <a href="{{ .Permalink }}">
                                      <img src="{{ .Site.BaseURL}}{{ .Params.image }}" class="img-responsive" alt="">
                                  </a>
                              </div>
                          </div>
                          <div class="content">
                              <h4>{{ .Name }}</h4>
                              <p class="intro"></p>
                          </div>
                      </div>
                      <!-- /.box-image-text -->

                  </div>
                  {{ end }}

                <!-- *** profile CAROUSEL END *** -->
            </div>

        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
