{{ if isset .Site.Params "recent_schedule" }}
{{ if .Site.Params.recent_schedule.enable }}
<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>{{ .Site.Params.recent_schedule.title }}</h2>
            </div>

            <iframe src="https://calendar.google.com/calendar/embed?src=pkdpdo5jnh1vhu636etmq9nc1c%40group.calendar.google.com&ctz=Asia%2FTokyo" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>

            <!-- *** schedule HOMEPAGE *** -->

            <!--
            <div class="row">

                {{ range first 4 (where .Data.Pages "Type" "schedule") }}
                <div class="col-md-12 col-sm-6">
                    <div class="box-image-text news">
                        <div class="content">
                          <h4>
                            <span class="author-category">{{ i18n "publishedOn" }} {{ .Date.Format .Site.Params.date_format }}</span>
                            {{ index .Params.categories 0 }}
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                          </h4>
                        </div>
                    </div>

                </div>
                {{ end }}

                <p class="text-center">
                    <a href="/schedule" class="btn btn-template-primary btn-lg">CHECK OTHER SCHEDULE</a>
                </p>

            </div>
            -->
            <!-- /.row -->

            <!-- *** news HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
